# T3.2 Analizar e visualizar estatísticas de datos baixados de MongoDB
## Conexión a MongoDB dende Python e análise de datos

En Atlas mete o dataset de exemplo na túa base de datos.

Engade o enderezo IP autorizado a conectar para que poidas conectar á base de datos.

Proba a conectar dende compass coa URL de conexión que che da.

Da BBDD de proba: sample_mfix, na colección movies: https://www.mongodb.com/docs/atlas/sample-data/sample-mflix/

In [27]:
# %conda install -y pymongo dnspython

Por obvios motivos esto ya no funciona, esto era una db de pruebas

Conecta a Atlas dende Python, carga a colección en Pandas. Averigua o modo máis adecuado.

In [28]:
from pymongo import MongoClient

HOST="clase.2axjvot.mongodb.net"
PORT=27017
USERNAME="nicolas"
PASSWORD="YS9v3DIbkoTMQUxL"

if HOST == 'localhost':
    if not USERNAME:
        cli_mongo = MongoClient(HOST, PORT)
    else:
        cli_mongo = MongoClient(HOST, PORT, USERNAME, PASSWORD)
else:
    cli_mongo = MongoClient(f"mongodb+srv://{USERNAME}:{PASSWORD}@{HOST}")

In [29]:
import pandas as pd

cursor = cli_mongo["sample_mflix"]["movies"].find({})

df = pd.DataFrame(list(cursor))
df.head()

,_id,plot,genres,runtime,cast,num_mflix_comments,poster,title,fullplot,languages,...,writers,awards,lastupdated,year,imdb,countries,type,tomatoes,rated,metacritic
0,573a1390f29313caabcd4803,"Cartoon figures announce, via comic strip ball...","[Animation, Short, Comedy]",7.0,[Winsor McCay],0,https://m.media-amazon.com/images/M/MV5BYzg2Nj...,"Winsor McCay, the Famous Cartoonist of the N.Y...",Cartoonist Winsor McCay agrees to create a lar...,[English],...,"[Winsor McCay (comic strip ""Little Nemo in Slu...","{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-08-29 01:09:03.030000000,1911,"{'rating': 7.3, 'votes': 1034, 'id': 1737}",[USA],movie,"{'viewer': {'rating': 3.4, 'numReviews': 89, '...",NaN,NaN
1,573a1390f29313caabcd587d,"At 10 years old, Owens becomes a ragged orphan...","[Biography, Crime, Drama]",72.0,"[John McCann, James A. Marcus, Maggie Weston, ...",1,https://m.media-amazon.com/images/M/MV5BNDkxZG...,Regeneration,"At 10 years old, Owens becomes a ragged orphan...",[English],...,"[Owen Frawley Kildare (book), Raoul Walsh (ada...","{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-08-14 01:28:18.957000000,1915,"{'rating': 6.8, 'votes': 626, 'id': 5960}",[USA],movie,"{'viewer': {'rating': 3.4, 'numReviews': 395, ...",PASSED,NaN
2,573a1390f29313caabcd56df,An immigrant leaves his sweetheart in Italy to...,[Drama],78.0,"[George Beban, Clara Williams, J. Frank Burke,...",0,NaN,The Italian,An immigrant leaves his sweetheart in Italy to...,[English],...,"[Thomas H. Ince (story), C. Gardner Sullivan (...","{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-07-27 00:07:43.230000000,1915,"{'rating': 6.4, 'votes': 175, 'id': 5557}",[USA],movie,"{'viewer': {'rating': 4.0, 'numReviews': 204, ...",PASSED,NaN
3,573a1390f29313caabcd6223,"Gwen's family is rich, but her parents ignore ...","[Comedy, Drama, Family]",65.0,"[Mary Pickford, Madlaine Traverse, Charles Wel...",0,NaN,The Poor Little Rich Girl,"Gwen's family is rich, but her parents ignore ...",[English],...,"[Eleanor Gates (play), Frances Marion (scenario)]","{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-07-27 00:11:31.387000000,1917,"{'rating': 6.9, 'votes': 884, 'id': 8443}",[USA],movie,"{'viewer': {'rating': 3.9, 'numReviews': 137, ...",NaN,NaN
4,573a1391f29313caabcd68d0,A penniless young man tries to save an heiress...,"[Comedy, Short, Action]",22.0,"[Harold Lloyd, Mildred Davis, 'Snub' Pollard, ...",0,https://m.media-amazon.com/images/M/MV5BNzE1OW...,From Hand to Mouth,As a penniless man worries about how he will m...,[English],...,[H.M. Walker (titles)],"{'wins': 0, 'nominations': 1, 'text': '1 nomin...",2015-04-17 00:16:14.220000000,1919,"{'rating': 7.0, 'votes': 639, 'id': 10146}",[USA],movie,"{'viewer': {'rating': 3.3, 'numReviews': 71, '...",TV-G,NaN

Información del Dataframe

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21349 entries, 0 to 21348
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   _id                 21349 non-null  object
 1   plot                20203 non-null  object
 2   genres              21237 non-null  object
 3   runtime             20910 non-null  float64
 4   cast                20987 non-null  object
 5   num_mflix_comments  21349 non-null  int64
 6   poster              18044 non-null  object
 7   title               21349 non-null  object
 8   fullplot            19852 non-null  object
 9   languages           21119 non-null  object
 10  released            20878 non-null  datetime64[ns]
 11  directors           21107 non-null  object
 12  writers             20256 non-null  object
 13  awards              21349 non-null  object
 14  lastupdated         21349 non-null  object
 15  year                21349 non-null  object
 16  imdb                21349 non-null  object
 17  countries           21339 non-null  object
 18  type                21349 non-null  object
 19  tomatoes            18588 non-null  object
 20  rated               11455 non-null  object
 21  metacritic          6964 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(18)
memory usage: 3.6+ MB

In [31]:
df.isna().sum()

_id                       0
plot                   1146
genres                  112
runtime                 439
cast                    362
num_mflix_comments        0
poster                 3305
title                     0
fullplot               1497
languages               230
released                471
directors               242
writers                1093
awards                    0
lastupdated               0
year                      0
imdb                      0
countries                10
type                      0
tomatoes               2761
rated                  9894
metacritic            14385
dtype: int64

Limpieza

In [32]:
df.drop(["_id"],axis=1,inplace=True)
df["year"] = df["year"].astype("str").str[:4]

In [33]:
def contar_valores(df:pd.DataFrame, column:str):
    df2 = df[df[column].notna()]
    ret = pd.Series([item for sublist in df2[column] for item in sublist]).value_counts()
    # return pd.Series([item for sublist in df[column] if isinstance(sublist, list) for item in sublist]).value_counts()
    return ret

A) Contar o total de películas.

In [34]:
len(df)

21349

B) Contar o número de películas de cada xénero.

In [35]:
df["genres"].value_counts()

genres
[Drama]                          3208
[Comedy]                         1103
[Comedy, Drama]                  1025
[Documentary]                     842
[Drama, Romance]                  826
                                 ...
[Action, Fantasy, Romance]          1
[Romance, Action, Drama]            1
[Biography, Comedy, Thriller]       1
[Fantasy, Drama, Mystery]           1
[Musical, Thriller]                 1
Name: count, Length: 991, dtype: int64

In [36]:
num_films_genre = contar_valores(df, "genres")
num_films_genre

Drama          12385
Comedy          6532
Romance         3318
Crime           2457
Thriller        2454
Action          2381
Adventure       1900
Documentary     1834
Horror          1470
Biography       1269
Family          1249
Mystery         1139
Fantasy         1055
Sci-Fi           958
Animation        912
History          874
Music            780
War              699
Short            442
Musical          440
Sport            366
Western          242
Film-Noir         77
News              44
Talk-Show          1
Name: count, dtype: int64

C) Contar cantas películas hai por ano.

In [37]:
df.groupby("year")['year'].count()

year
1896       2
1903       1
1909       1
1911       2
1913       1
        ...
2012     958
2013    1105
2014    1075
2015     480
2016       1
Name: year, Length: 108, dtype: int64

D) Mirar se hai correlación entre imdb e rotten tomatoes.

In [40]:
limdb = []
ltomatoes = []

df_r = df.dropna()

for imdb, tomatoes in zip(df_r["imdb"],df_r["tomatoes"]):
    if "viewer" in tomatoes:
        if "rating" in tomatoes["viewer"]:
            ltomatoes.append(tomatoes["viewer"]["rating"])
            limdb.append(imdb["rating"])

dfCorr = pd.DataFrame({"tomatoes":ltomatoes,"imdb":limdb})
dfCorr.replace(r'^\s*$', None, regex=True, inplace=True)
dfCorr["imdb"].astype("float")
dfCorr.corr()

          tomatoes      imdb
tomatoes  1.000000  0.700556
imdb      0.700556  1.000000

E) Contar cantas películas ten cada director

In [ ]:
num_films_director = contar_valores(df, "directors")
num_films_director

Woody Allen          40
Martin Scorsese      32
Takashi Miike        31
Steven Spielberg     29
Sidney Lumet         29
                     ..
Il-gon Song           1
Christopher Reeve     1
Ana Poliak            1
Frank Nissen          1
Gooc-jin Ahn          1
Name: count, Length: 10843, dtype: int64

F) Contar en cantas películas ten participado cada actor

In [ ]:
num_films_actor = contar_valores(df, "cast")
num_films_actor

Gèrard Depardieu      67
Robert De Niro        58
Michael Caine         51
Bruce Willis          49
Samuel L. Jackson     48
                      ..
Lee Oakes              1
Simon Lowe             1
Theodore Liscinski     1
Stephen Trask          1
Mickael Gouin          1
Name: count, Length: 38636, dtype: int64

G) Contar cantas películas hai de cada idioma

In [ ]:
num_films_languages = contar_valores(df, "languages")
num_films_languages

English            14639
French              2405
Spanish             1600
German              1377
Italian             1228
                   ...
Eastern Frisian        1
Tok Pisin              1
Middle English         1
Uighur                 1
Purepecha              1
Name: count, Length: 231, dtype: int64

H) Cal é a media de premios das películas

In [ ]:
num_awards = 0
for _, awards in df["awards"].items():
    num_awards += awards["wins"]

print(num_awards/len(df["awards"]))

4.063047449529252

In [ ]:
pd = pd.DataFrame([d for d in df["awards"]])
print(pd["wins"].sum()/len(pd))

4.063047449529252

In [ ]:
import numpy as np
np.mean([award["wins"] for award in df["awards"]])

4.063047449529252

J) Amosar as películas que teñen alomenos 3 premios

In [ ]:
df[df["awards"].str.get("wins")>2]
# df[df["awards"].str.get("wins")>=3]

,plot,genres,runtime,cast,num_mflix_comments,poster,title,fullplot,languages,released,...,writers,awards,lastupdated,year,imdb,countries,type,tomatoes,rated,metacritic
9,A film about the French Field Marshal's youth ...,"[Biography, Drama, History]",240.0,"[Albert Dieudonnè, Vladimir Roudenko, Edmond V...",0,https://m.media-amazon.com/images/M/MV5BOGY4M2...,Napoleon,"A massive six-hour biopic of Napoleon, tracing...",NaN,1929-02-17,...,[Abel Gance],"{'wins': 3, 'nominations': 0, 'text': '3 wins.'}",2015-08-21 00:07:08.593000000,1927,"{'rating': 7.4, 'votes': 5064, 'id': 18192}",[France],movie,"{'viewer': {'rating': 4.3, 'numReviews': 1543,...",NaN,NaN
21,"At an all-girls boarding school, Manuela falls...","[Drama, Romance]",87.0,"[Emilia Unda, Dorothea Wieck, Hedwig Schlichte...",0,https://m.media-amazon.com/images/M/MV5BMDhkNj...,Mèdchen in Uniform,German film in which a sensitive girl is sent ...,[German],1931-11-27,...,"[Christa Winsloe (screenplay), Friedrich Damma...","{'wins': 3, 'nominations': 0, 'text': '3 wins.'}",2015-09-03 00:52:22.460000000,1931,"{'rating': 7.8, 'votes': 1486, 'id': 22183}",[Germany],movie,"{'viewer': {'rating': 4.0, 'numReviews': 667, ...",PASSED,NaN
23,Dr. Jekyll faces horrible consequences when he...,"[Horror, Sci-Fi]",98.0,"[Fredric March, Miriam Hopkins, Rose Hobart, H...",1,https://m.media-amazon.com/images/M/MV5BNWRmZW...,Dr. Jekyll and Mr. Hyde,"Based on the story by Robert Louis Stevenson, ...",[English],1932-01-03,...,"[Samuel Hoffenstein (screen play), Percy Heath...","{'wins': 3, 'nominations': 2, 'text': 'Won 1 O...",2015-08-21 00:15:38.343000000,1931,"{'rating': 7.7, 'votes': 8532, 'id': 22835}",[USA],movie,"{'viewer': {'rating': 3.6, 'numReviews': 5452,...",PASSED,NaN
36,The married Anna Karenina falls in love with C...,"[Drama, Romance]",95.0,"[Greta Garbo, Fredric March, Freddie Bartholom...",1,https://m.media-amazon.com/images/M/MV5BZDBhN2...,Anna Karenina,This version of the Tolstoy classic lingers lo...,[English],1935-12-25,...,"[Leo Tolstoy (from the novel by), Clemence Dan...","{'wins': 3, 'nominations': 0, 'text': '3 wins.'}",2015-09-05 00:25:26.877000000,1935,"{'rating': 7.1, 'votes': 3704, 'id': 26071}",[USA],movie,"{'viewer': {'rating': 3.5, 'numReviews': 3022,...",PASSED,NaN
37,The misadventures of two social-climbing women...,"[Comedy, Drama, Romance]",99.0,"[Katharine Hepburn, Fred MacMurray, Fred Stone...",0,https://m.media-amazon.com/images/M/MV5BYTJkYm...,Alice Adams,"In the small town of South Renford, Alice Adam...",[English],1935-11-13,...,"[Booth Tarkington (novel), Dorothy Yost (scree...","{'wins': 4, 'nominations': 0, 'text': 'Nominat...",2015-09-05 00:25:24.923000000,1935,"{'rating': 7.1, 'votes': 2559, 'id': 26056}",[USA],movie,"{'viewer': {'rating': 3.5, 'numReviews': 2370,...",APPROVED,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21313,Suspecting that people around him are turning ...,"[Drama, Mystery, Thriller]",80.0,"[MacLeod Andrews, Evan Dumouchel, Margaret Yin...",0,https://m.media-amazon.com/images/M/MV5BMTk0OD...,They Look Like People,Suspecting that people around him are turning ...,[English],2015-01-25,...,[Perry Blackshear],"{'wins': 8, 'nominations': 1, 'text': '8 wins ...",2015-08-13 00:32:51.303000000,2015,"{'rating': 7.6, 'votes': 59, 'id': 4105970}",[USA],movie,NaN,NaN,NaN
21314,"Black Friday, the day after Thanksgiving Novem...","[Documentary, Crime, Drama]",98.0,"[Leland Brunson, Angela B. Corey, Ron Davis, J...",3,https://m.media-amazon.com/images/M/MV5BMTA0Nj...,"3 1/2 Minutes, Ten Bullets","Black Friday, the day after Thanksgiving Novem...",[English],2015-01-24,...,[Marc Silver],"{'wins': 3, 'nominations': 3, 'text': '3 wins ...",2015-09-07 00:24:58.833000000,2015,"{'rating': 7.3, 'votes': 46, 'id': 4126312}",[USA],movie,NaN,NaN,76.0
21322,"A movie shot in a single take about Victoria, ...","[Crime, Drama, Thriller]",140.0,"[Laia Costa, Frederick Lau, Franz Rogowski, Bu...",0,https://m.media-amazon.com/images/M/MV5BMTc5Nz...,Victoria,"A movie shot in a single take about Victoria, ...","[German, English, Spanish]",2015-10-09,...,"[Olivia Neergaard-Holm, Sebastian Schipper, Ei...","{'wins': 9, 'nominations': 4, 'text': '9 wins ...",2015-08-24 00:14:54.790000000,2015,"{'rating': 8.2, 'votes': 3031, 'id': 4226388}",[Germany],movie,NaN,NaN,76.0
21326,A married couple have dinner and discuss their...,"[Drama, Thriller]",83.0,"[Jenny Lampa, Lukas Loughran, Hanna Sjègren, R...",0,NaN,The Break-In,A married couple have dinner and discuss their...,[Swedish],2015-03-25,...,[Marcus Ovnell],"{'wins': 4, 'nominations': 9, 'text': '4 wins ...",2015-08-05 00:19:17.867000000,2015,"{'rating': 7.4, 'votes': 8, 'id': 4352442}",[Sweden],movie,NaN,NaN,NaN
21343,"After having left a long time ago, a humble co...",[Drama],97.0,"[Josè Felipe Cèrdenas, Haimer Leal, Edison Rai...",0,https://m.media-amazon.com/images/M/MV5BMTUwZT...,Land and Shade,"After having left a long time ago, a humble co...",[Spanish],2016-01-27,...,[Cèsar Augusto Acevedo],"{'wins': 4, 'nominations': 3, 'text': '4 wins ...",2015-09-04 00:26:23.710000000,2015,"{'rating': 7.6, 'votes': 215, 'id': 4663992}","[Colombia, France, Netherlands, Chile, Brazil]",movie,NaN,NaN,NaN

K) Contar as películas por país

In [ ]:
num_films_countries = contar_valores(df, "countries")
num_films_countries

AttributeError: 'DataFrame' object has no attribute 'Series'